.accueil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    background-color: var(--section-color);
    color: var(--text-color);
    border-radius: 15px;
    min-height: 90vh;
    max-height: 90vh;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;

    .one{
        justify-content: start;
    }
    
    .one, .two{
        width: 100%;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        
        
        .Front, .Back{
            width: auto;
            opacity: 1; // ici opacity
            font-size: 150%;
            transition: opacity 0.5s ease-in-out;
            min-width: fit-content;
            margin: auto;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }


        .FrontIcons{
            font-size: 315%;
            padding-bottom: 30px;
        }

        .BackIcons{
            font-size: 250%;
            padding-top: 30px;
        }

        .FrontIcons, .BackIcons{
            opacity: 1; // ici opacity
            transition: opacity 0.5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            
            .html{
                color: rgb(252, 113, 0);
            }

            .css{
                color: rgb(0, 106, 226);
            }

            .react{
                color: rgb(97, 218, 251);
            }

            .js{
                color: rgb(247, 223, 30);
            }

            .github{
                color: var(--text-color);
            }

            .nodejs{
                color: rgb(83, 189, 0);
            }

            .mongodb, .api{
                width: 77px;
            }
        }

        .first, .second{
            font-size: 500%;
        }
        
        &:hover, &:hover,
        &:focus, &:focus{
            border: none;
            outline: 1px solid #333333 ;

            .first, .second{
                font-size: 500%;
                transition: all 0.5s ease-in-out;
                transform: rotate(180deg);
            }

            .FrontIcons, .BackIcons{
                opacity: 1;
            }
            
            .Front, .Back{
                opacity: 1;
            }
        }
    }
    
    .container{
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
        align-items: center;
        flex: 1;
        margin-top: auto;
        margin-bottom: auto;

        .textAccueil{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin: auto;
            padding: 0 9%;

            h1 ,p{
                font-size: 170%;
                text-align: center;
            }

        }
        
        .recherche{
            margin: auto;
            width: 50%;
            display: flex;
            flex-flow: row wrap;

            p{
                line-height: 2;
                font-size: 110%;
            }
        }
    }
}

@media (max-width: 941px) and (min-width: 780px) {
    #accueil{
        .one{
            .Front{
                .skills{
                    font-size: 80%;
                }
                .FrontIcons{
                    font-size: 210%;
                    padding-bottom: 15px;
                }
            }
        }

        .container{
            .textAccueil{
                margin-bottom: 0;
                h1{
                    font-size: 120%;
                }

                p{
                    font-size: 100%;
                }
            }

            .recherche p{
                font-size: 100%;
            }
        }

        .two{
            .Back{
                .BackIcons{
                    font-size: 170%;
                    padding-top: 15px;

                    .mongodb, .api{
                        width: 45px;
                    }
                }

                .skills{
                    font-size: 80%;
                }
            }
        }
    }
}

@media (max-width: 780px) and (min-width: 320px){
    #accueil{
        padding: 15px;
        .one, .two{
            flex-flow: column wrap;

            .Front, .Back{
                .skills{
                    font-size: 50%;
                }

                .FrontIcons{
                    font-size: 170%;
                    padding-bottom: 15px;
                }

                .BackIcons{
                    font-size: 160%;
                    padding-top: 15px;

                    .mongodb, .api{
                        width: 45px;
                    }
                }
            }

            .first, .second{
                font-size: 300%;
            }

            .first{
                align-self: start;
            }
            .second{
                align-self: end;
            }
        }

        .container{
            .textAccueil{
                margin-bottom: 0;
                h1{
                    font-size: 90%;
                }
                p{
                    font-size: 70%;
                }
            }
            
            .recherche{
                p{
                    font-size: 70%;
                }
            }
        }
    }
}

@media (max-width: 380px) and (min-width: 320px){
    #accueil{
        .one, .two{
            .Front, .Back{
                .FrontIcons{
                    font-size: 130%;
                    padding-bottom: 10px;
                }

                .BackIcons{
                    font-size: 120%;
                    padding-top: 10px;

                    .mongodb, .api{
                        width: 30px;
                    }
                }
            }
        }

        .container{
            .textAccueil{
                margin-bottom: 0;
                h1{
                    font-size: 70%;
                }
                p{
                    font-size: 50%;
                }
            }
            
            .recherche{
                p{
                    font-size: 50%;
                }
            }
        }
    }
}