footer{
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--inverted-text-color);
    background-color: var(--inverted-color);
    padding-top: 30px;
    padding-bottom: 15px;
    justify-self: end;
}