.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  &.light{
    --background-color: white;
    --section-color: #F2F2F2;
    --text-color: black;

    --inverted-color: black;
    --inverted-text-color: white;

  }
  
  &.dark{
    --background-color: black;
    --section-color: #212020;
    --text-color: white;

    --inverted-color: white;
    --inverted-text-color: black;
  }
  
  color: var(--text-color);
  background-color: var(--background-color);

  .Home{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  Footer{ 
    margin-top: auto;
  }
}
